h1 {
  color: red;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h2 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
a:link {
    color: red;
}
li {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
blockquote { 
  font-family: "Helvetica", "Arial", sans-serif; 
  padding: 10px;
  border-left: 5px solid red;
  margin: 10px;
  }
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: gray;
    border-color: red;
}