.title-slide { 
  background-image: url('mountains2.png');
  background-color: black; 
  background-size: cover;
}
.title-slide h1 {
  color: red;
}
.title-slide h2, h3 {
  color: white;
}
pre {
  white-space: pre-wrap;
}
blockquote {
  background: #FFFFFF;
  color: #000;
  border-left: 5px solid red;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
.majorsection {
  color: white;
  background-color: black;
}
.majorsection h1 {
  color: white;
  background-color: red;
}
  
