/* OsloMet CSS for Xaringan Slides */
/* Based on OsloMet Beamer Theme */
/* https://github.com/martinhelso/OsloMet */

.title-slide { 
  color: #000000;
  background-color: #FFDC00; 
}
.title-slide h1 {
    color: #000000;
}
pre {
  white-space: pre-wrap;
}
ul {
  list-style-type: square;
}
blockquote {
  background: #A9A9A9;
  color: #000000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  margin-right: 40px;
}
.highlight {
  color: red;
}
.description {
  color: blue;
}
.theorem-box{
  background: #CCCCCC;
  color: #000000;
  display: block;
  margin-top: 0;
  margin-right: 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}
.theorem-box::first-line{
  background: #FFDC00;
}
.example-box {
  background: #CCCCCC;
  color: #000000;
  display: block;
  margin-top: 0;
  margin-right: 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;  
}
.example-box::first-line{ 
  color: white;
  background: #0099FF;
}
.important-message-box{
  background: #CCCCCC;
  color: #000000;
  display: block;
  margin-top: 0;
  margin-right: 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}
.important-message-box::first-line{
  color: white;
  background: #E02D2D;
}
