<html>

<head>
<title>Stranger Things CSS Test</title>

<style>
h1, h2 { 
    font-family: Georgia;
    color: black;
    background-color:black;
    font-weight: bold;
    font-size: 500%;
    text-align: center;
    text-decoration: underline overline;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}
p, pre {color:red}
body {background-color: black;}
</style>
</head>

<body>

<h1>Stranger Things</h1>

<h2>CSS Test</h2>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode

summary(cars)

end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6

par(col.main = "red",
    col.lab = "red",
    col.axis = "red",
    bg = "black")

plot(cars, col="red")

end.rcode-->

</body>
</html>
