.book .book-summary ul.summary {
  background-color: black;
}
.book .book-summary ul.summary li a{
  color: white;
}
h1 {
  color: red;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h2 {
  color: red;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
a:link {
    color: red;
}
li {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 10px solid red;
}
blockquote { 
  font-family: "Helvetica", "Arial", sans-serif; 
  padding: 10px;
  border-left: 10px solid red;
  margin: 10px;
  }
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: red;
    border-color: red;
}
